<% provide(:title, "Hilfe") %>
<h1>Hilfe</h1>
<p>
  Hier könnte man verschiedene Seiten verlinken. Zum Beispiel "Babysitter suchen" oder "Als Nanny anbieten". <br><br>
  ansonsten noch weitere Informationen geben für die Nutzung der App.<br><br>
  Informationen über das Verfahren und was hier so hinter steckt (für die Kunden)<br><br>
</p>

<br><br><br><br>





____________________________________________________________________________________________________________<br><br>
Sie wollen das Angebot der Babysitter-App nutzen, sind jedoch noch nicht registriert? Dann registrieren sie
sich jetzt <%= link_to "hier!", signup_path %> <br>
Wenn sie schon registriert sind, können sie sich
<%= link_to "hier", login_path %> mit ihren Nutzerdaten einloggen.






<br><br><br><br>
<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>

<br><br><br><br><br><br>



____________________________________________________________________________________________________________<br><br>

KNÖPFE ZUM SELBERBASTELN:<br>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Secondary, outline button -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Hellau</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
