<% if logged_in? %>
    <div class="center jumbotron ">
      <h1>Willkommen in der Nanny-App</h1>

      <h2>
        Die  offizielle Online-Nanny-Vermittlung von Feidex und Lauzi :)
      </h2>
      <br>

      <%= link_to image_tag("find-a-babysitter.gif", alt: "Rails logo"),
                  'https://www.google.de' %>
    </div>

<% else %>
    <div class="center jumbotron ">
      <h1>Willkommen in der Nanny-App</h1>

      <h2>
        Die  offizielle Online-Nanny-Vermittlung von Feidex und Lauzi :)
      </h2>
      <br>

      <%= link_to image_tag("find-a-babysitter.gif", alt: "Rails logo"),
                  'https://www.google.de' %>

      <br><br><br><br>

      <%= link_to "REGISTRIERUNG FÜR NEUKUNDEN", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "EINLOGGEN FÜR BESTANDSKUNDEN", login_path, class: "btn btn-lg btn-primary" %>

<% end %>

