<% provide(:title, 'Kontakt') %>
<h1>Kontakt</h1>
<p>



<div class="center jumbotron">


Bei Nachfragen oder Anregungen wenden sie sich gerne an unseren Kunden-Support.<br><br><br>


  Nanny-App-Support<br>
  nanny@rubyonrails.de<br>
  Königsworter Platz 1<br>
  30167 Hannover<br>



  <br>
  <br>
  <br>

 Seiteninhaber: Louis-Phillip Herrmann & Fiete Pape<br>

</div>


<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>


