<% provide(:title, "Nannysuche") %>
<h1>Nannysuche</h1>

<div class="center jumbotron">

  Hier werden Ihnen 2 verschiedene Möglichkeiten der Suche angeboten. Für zeitlich kurz angebundene Kunden, kann eine
  Schnellsuche durchgeführt werden. Dabei wird einzig auf Grundlage der Zahlungsbereitschaft eine im Budget liegende
  Sitter-Nanny zugeordnet. Auf Wunsch kann natülich auch eine differenzierte Suche erfolgen, in welcher mehrere
  Faktoren ausgewählt werden. Auf dieses Weise können Sie festelgen, welche persönlichen Anforderungen ihr Sitter
  erfüllen soll. <br><br>
  Hier können sie eine geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla. Hier können sie eine
  geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla.
  Hier können sie eine geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla.
  Hier können sie eine geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla.
  Hier können sie eine geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla.
  Hier können sie eine geeignete Nanny finden. Dann würde dazu noch ganz viel Text stehen, in dem der Nutzer über
  bestimmte Sachen aufgeklärt wird oder Tipps bekommt. UNd und und.... blabla bla bla bla. <br><br><br><br>

<div class="center">
  <%= link_to "Schnellsuche starten", root_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Detaillierte Suche starten", root_path, class: "btn btn-lg btn-primary" %>

</div>
  </div>



<br><br><br><br>
<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>
