<% provide(:title, "Nanny-Dienst anbieten") %>
<h1>Nanny-Dienst anbieten</h1>
<p>
  Hier könnte man sie ihre Dienste als Sitter anbieten.


  <%= link_to "Zurück zur Startseite", 'Angebot' %>
</p>





<br><br><br><br>
<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>