<% provide(:title, "Startseite") %>
<% if logged_in? %>



    <h1>Hallo,  <%= current_user.firstname %>! :)</h1>
    <div class="center">
         Was möchtest du als nächstes tun?
         </div>

<br><br><br>

    <div class="linkcontainer">
      <div class="centerwrapper">

        <div class="image">
        <%= link_to image_tag("find-a-babysitter.gif", height: '100', alt: "Rails logo"),'Hilfe' %><br>
        <%= link_to "Eine Nanny suchen", '' %>
      </div>


      <br><br>
      <div class="image">
      <%= link_to image_tag("fcb.png", height: '70', alt: "Rails logo"),'Kontakt' %><br>
      <%= link_to "Kontakt", 'Kontakt' %>
    </div>

    <br><br>
    <div class="image">
    <%= link_to image_tag("Sitter1.jpg", height: '70', alt: "Rails logo"),'Kontakt' %><br>
    <%= link_to "Kontakt", 'Kontakt' %>
    </div>

    <br><br>
    <div class="image">
    <%= link_to image_tag("Sitter2.jpg", height: '80', alt: "Rails logo"),'Kontakt' %><br>
    <%= link_to "Kontakt", 'Kontakt' %>
    </div>
    </div>
    </div>




<% else %>
Hallo



<% end %>