<% provide(:title, "Willkommen") %>
<h1>Hallo <%= current_user.name%>, Willkommen der Nanny-App</h1>
<p>


  <br>

  Diese Seite muss aufgerufen werden, wenn jemand erfolgreich eingeloggt wurde bzw. wenn sich jemand erfolgreich
  registriert hat.
</p>



<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>