<% provide(:title, "Ueber") %>
<h1>Über</h1><br>

<div class="center jumbotron">

Diese Applikation wurden im Rahmen der Veranstaltung "Entwicklung von Anwendungssystemen" von Louis-Phillip Herrmann
  und Fiete Pape erstellt.



</div>


<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>