<% provide(:title, "Einloggen") %>
<h1>Einloggen</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, "E-Mail:" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "Passwort:" %>
        <%= f.password_field :password, class: 'form-control' %>
<br>
        <%= f.submit "Einloggen", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>Sie haben noch kein Benutzerkonto? <%= link_to "Registrieren", signup_path %> sie sich jetzt!</p>
  </div>
</div>



<br>
<br>
<br>
<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>
