<% provide(:title, "Einstellungen") %>
<h1>Änderung der Einstellungen</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Vorname:" %>
        <%= f.text_field :firstname, class: 'form-control' %>

        <%= f.label :name, "Nachname:" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "E-Mail:" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "Passwort:" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Bestätigung des Passworts:" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
<br>
        <%= f.submit "Änderungen speichern", class: "btn btn-primary" %>
    <% end %>


  </div>
</div>

<br><br><br><br>
<%= link_to "Zurück zur Startseite", root_path, class:"btn btn-warning" %>
