<% provide(:title, 'Alle Users') %>
<h1>Alle User</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <%= render @users %>
       <% end %>
</ul>

<%= will_paginate %>