// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lightgreen{
  background: lightgreen
}

.red{
  background: red;
}

.yellow{
  background: yellow;
}

.yellowgreen{
  background: yellowgreen;
}

.rebeccapurple{
  background: rebeccapurple;
}

.teal{
  background: teal;
}


