<footer class="footer yellowgreen">
  <nav>
    <ul>
      <li><%= link_to "Hilfe",   'Hilfe' %></li>
      <li><%= link_to "Über",    'Über' %></li>
      <li><%= link_to "Kontakt", 'Kontakt' %></li>
    </ul>
  </nav>
</footer>
