<header class="navbar navbar-fixed-top navbar yellowgreen">
  <div class="container">
    <%= link_to "Nanny-App", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Startseite",   root_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Nannysuche",   'Nannysuche' %></li>
            <li><%= link_to "Nanny-Dienst anbieten",   nannies_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Benutzerkonto <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user.firstname, current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Ausloggen", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Einloggen", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
